<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<h2 th:text="|Edycja naprawy ${repair.id} ${repair.name} ${repair.price}|"></h2>

<form action="/edit" method="post" th:object="${repair}">
    <input type
    <input type="text" class="form-control" th:field="*{id}" placeholder="id">
    <input type="text" class="form-control" th:field="*{name}" placeholder="Nazwa">
    <input type="number" class="form-control" th:field="*{price}" placeholder="Cena">
    <input type="submit" value="Edit!"/>

</form>

</body>
</html>